<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" href="css/list.css">
    <link rel="stylesheet" href="css/iconfont/iconfont.css">
</head>
<body>

<div id="list">
    <a class="list-tll">主站</a>
    <a class="list-tl">番剧</a>
    <a class="list-tl">直播</a>
    <a class="list-tl">会员购</a>
    <a class="list-tr">个人中心</a>
    <a class="list-tl">收藏</a>
    <a class="list-tl">历史</a>
    <a class="list-tl">创作中心</a>
</div>
<!--搜索框-->
<form id="se">
    <input id="in" type="text" placeholder="让佩恩感受痛苦">
    <div class="nav-search-btn">
        <button type="button" class="btn"><span class="iconfont icon-search"
                                                style="color: gray;font-size: 28px"></span></button>
    </div>
</form>
<div style="height: 100px;"></div>

<div id=list-bc">
        <div id="list-top">
            <a>动画</a>
            <a>音乐</a>
            <a>舞蹈</a>
            <a>生活</a>
            <a>美食</a>
            <a>鬼畜</a>
            <a>娱乐</a>
            <a>新闻</a>
        </div>
    </div>

    <div id="con">
        <div class="vi">

        </div>
    </div>
</div>
</body>
</html>