<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/up.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/iconfont/iconfont.css">
</head>
<body>
<div>
    <div id="list">
        <a class="list-tll">主站</a>
        <a class="list-tl">番剧</a>
        <a class="list-tl">直播</a>
        <a class="list-tl">会员购</a>
        <a class="list-tr">欢迎你，<span>**</span></a>
    </div>
    <div id="p"></div>
    <div class="col-home">
        <a>我要投稿</a>
    </div>
    <div id="up">
        <span class="iconfont icon-shangchuan" style="font-size: 88px;"></span>
        <br>
        <a href="javascript:;" class="upload">选择文件
            <input class="change" type="file" multiple="multiple"/>
        </a>
    </div>
</div>
</body>
</html>