/*

                              _.._        ,------------------------.
                           ,'      `.    ( hello Do you want to do )
                          /  __) __` \    `-,-------------------- -'
                         (  (`-`(-')  ) _.-'
                         /)  \  = /  (
                        /'    |--' .  \
                       (  ,---|  `-.)__`
                        )(  `-.,--'   _`-.
                       '/,'          (  Uu",
                        (_       ,    `/,-' )
                        `.__,  : `-'/  /`--'
                          |     `--'  |
                          `   `-._   /
                           \        (
                           /\ .      \.
                          / |` \     ,-\
                         /  \| .)   /   \
                        ( ,'|\    ,'     :
                        | \,`.`--"/      }
                        `,'    \  |,'    /
                       / "-._   `-/      |
                       "-.   "-.,'|     ;
                      /        _/["---'""]
                     :        /  |"-     '
                     '           |      /
                                 `      |

*/

* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
}

#top {
    background-color: antiquewhite;
}

#top a:hover {
    color: red;
}

#top a {

    padding-right: 120px;
    font-size: 20px;
    color: gray;
    padding-left: 20px;
}

#ti {
    padding-left: 580px;
    padding-top: 20px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none
}

input, form {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

textarea {
    -webkit-appearance: none
}

ul, ol, dl {
    list-style: none
}

a {
    color: inherit;
    text-decoration: none
}

img {
    vertical-align: top;
    border: 0
}

input {
    outline: 0
}

textarea {
    outline: 0;
    resize: none;
    -webkit-appearance: none;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both
}

.fl {
    float: left
}

.fr {
    float: right
}

.dis_line {
    display: inline
}

.dis_block {
    display: block
}

body, html {
    font: 16px 'Microsoft YaHei', 寰蒋闆呴粦, Arial, Lucida Grande, Tahoma, sans-serif;
}

.animation_opactiy {
    animation: backOpacity 0.6s ease-in-out;
}

@keyframes backOpacity {
    0% {
        opacity: 0.6
    }

    50% {
        opacity: .8
    }


    100% {
        opacity: 1
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ell_two_line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

.back_img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin {
    margin: 0 auto;
}

.alert_back {
    display: none;
    padding: 6px 26px;
    font-size: 12px;
    line-height: 1.4;
    color: #fff;
    background: rgba(0, 0, 0, .8);
    white-space: nowrap;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*select*/

::-webkit-selection {
    background: #888888;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #888888;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #69d1f7;
    color: #fff;
    text-shadow: none;
    font: 16px 'Microsoft YaHei', Arial, Lucida Grande, Tahoma, sans-serif;
}

.copyrightzh, .copyrighten {
    font-size: 12px !important;
}

#icon {
    padding-left: 350px;
}

#icon span {
    padding-right: 200px;
    font-size: 40px;
    color: gray;
}

.Dplayer_box {
    overflow: hidden;
    width: 1200px;
    height: 600px;
    margin: 10px auto;
    display: block;
    border-top: 1px solid #e5e9ef;
    border-bottom: 1px solid #e5e9ef;
    background-color: #f6f9fa;
}

#player1 {
    background-size: 100% 100%;
    margin-top: 30px;
}

.player_av {
    width: 888px;
    height: 100%;
    float: left;
    background: #000;
}

.Dplayer_danmu {
    width: 299px;
    float: right;
    height: 100%;
}

.Dplayer_watching {
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    font-size: 12px;
    color: #99a2aa;
    box-shadow: #ddd 0 0 5px;
}

.Dplayer-watching-number {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #222;
    padding: 0;
}

.Dplayer_list {
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.Dplayer_list li {
    width: 60px;
    height: 30px;
    float: left;
    color: #99a2aa;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
}

.Dplayer_list li:nth-child(1) {
    width: 58px !important
}

.Dplayer_list li:nth-child(2) {
    width: 136px !important
}

.list_ovefiow {
    width: 100%;
    height: 363px;
    overflow: auto
}

.danmuku_list {
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: left;
    color: #99a2aa;
    font-size: 12px;
    display: block;
    margin: auto;
    overflow: auto;
    margin-top: 5px
}

.danmuku_list li {
    float: left;
    width: 60px;
    height: 20px;
    white-space: nowrap;
    cursor: pointer
}

.danmuku_list li:nth-child(1) {
    width: 58px;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.danmuku_list li:nth-child(2) {
    width: 125px;
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.danmuku_list li:nth-child(2):hover {
    color: #00a1d6
}

.danmuku_list li:nth-child(3) {
    margin-left: 5px
}