#col-top {
    height: 40px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:hover {
    color: red;
}

a {
    padding-right: 120px;
}

#pi {
    height: 150px;
    weight: 100%;
    background-image: url("../images/history.jpg");
}

.col-home {
    padding-left: 300px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 80px;
}

.wel {
    padding-left: 200px;
}

.col-li {
    padding-left: 105px;
    padding-right: 180px;
    height: 300px;
}